/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* reset */

label {
  display: block;
  text-align: left;
  font-size: 1rem;
  color: #333;
}

/* container */
#container_login {
  width: 445px;
  height: 540px;
  background-color: #ddd;
  margin: 0 auto;
  margin-top: 100px;
}
#container_login header {
  display: block;
  width: 100%;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  color: #333;
  text-align: left;
}
#container_login form {
  display: block;
}
#container_login .form .input_box {
  width: 100%;
  margin-top: 20px;
}
#container_login .form .input_box label {
  color: #333;
  font-size: 1rem;
}
#container_login .form :where(.input_box input) {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  font-weight: 500;
  color: #888;
  outline: none;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  margin-top: 4px;
  padding: 0 15px;
}

#container_login .input_box input:focus {
  box-shadow: 0 1px 0 rgb(0, 0, 0, 0.1);
}
/*
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender_box {
  margin-top: 20px;
}
.form .gender_box h3 {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  margin-bottom: 4px;
}
.form :where(.gender_option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 4px;
}

.form .gender label {
  color: #333;
}
[type="radio"] {
  appearance: none;
  border: max(2px, 0.1em) solid #d1d1d1;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  transition: border 0.1s ease-in-out;
}

[type="radio"]:checked {
  border: 0.4em solid rgb(238, 131, 62);
}

.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #888;
}
*/
.form button {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 8px;
  background-color: rgb(238, 131, 62);
  margin-top: 40px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.form button:hover {
  background-color: rgb(253, 160, 98);
}

/* Responsive */
/* @media (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender_option, .gender) {
    row-gap: 4px;
  }
} */

/*
.loginCheckFindCont {
  display: flex;
  justify-content: space-between;
}
.loginCheckbox #idCheck {
  display: none;
}
.loginCheckbox .idCheckLabel {
  display: flex;
  cursor: pointer;
}
.loginCheckbox .idCheckLabel .checkboxIcon {
  width: 22px;
  height: 22px;
  border-radius: 6px;
  border: 1px solid #d1d1d1;
  background-color: white;
  margin-right: 8px;
}
.loginCheckbox .idCheckLabel .checkboxIcon svg {
  display: none;
}
.loginCheckbox #idCheck:checked + .idCheckLabel .checkboxIcon svg {
  display: block;
}
.idCheckLabel .checkboxText {
  font-size: 0.875rem;
  color: #888;
}
.findIdPw,
.findIdPw * {
  font-size: 0.875rem;
  color: #888;
  margin-bottom: 40px;
}

.loginButton {
  width: 100%;
  padding: 16px 0;
  background-color: #ee833e;
  border-radius: 16px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}
.loginButton:hover {
  opacity: 0.7;
}

.loginSns {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.loginIcon {
  padding: 18px 28px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 16px;
  margin-right: 12px;
  cursor: pointer;
}
.loginIcon:last-child {
  margin-right: 0;
}

.loginSignup {
  font-size: 14px;
  color: #888;
  font-weight: 400;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.35px;
  text-align: center;
}
.loginSignup .signup {
  font-size: 14px;
  color: #ee833e;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.35px;
  border-bottom: 1px solid #ee833e;
}
*/
